<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:util="http://www.springframework.org/schema/util"
	xmlns:p="http://www.springframework.org/schema/p"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
      http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
      http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.5.xsd">


	<!-- ========== EMAIL SERVICE ========== -->
	
	<bean id="tokenEncoder" class="org.eurekastreams.server.service.email.TokenEncoder">
		<constructor-arg value="${eureka.crypto.algorithm}" />
	</bean>

	<bean id="tokenContentFormatter" class="org.eurekastreams.server.service.email.TokenContentFormatter" />

	<bean id="tokenContentEmailAddressBuilder" class="org.eurekastreams.server.service.email.TokenContentEmailAddressBuilder">
		<constructor-arg ref="tokenEncoder" />
		<constructor-arg ref="getPersonCryptoKeyMapper" />
		<constructor-arg value="${eureka.mail.ingest.address}" />
	</bean>

	<bean id="imapStoreFactory" class="org.eurekastreams.server.service.email.ImapStoreFactory">
		<constructor-arg value="${eureka.mail.imap.host}" />
		<constructor-arg value="${eureka.mail.imap.port}" />
		<constructor-arg value="${eureka.mail.imap.username}" />
		<constructor-arg value="${eureka.mail.imap.password}" />
		<constructor-arg>
			<props>
				<prop key="mail.imap.socketFactory.class">javax.net.ssl.SSLSocketFactory</prop>
				<prop key="mail.imap.socketFactory.fallback">false</prop>
				<prop key="mail.imap.socketFactory.port">${eureka.mail.imap.port}</prop>
			</props>
		</constructor-arg>	
	</bean>
  	
  	<bean id="messageProcessor" class="org.eurekastreams.server.service.email.MessageProcessor" autowire="constructor">
		<constructor-arg>
			<bean class="org.eurekastreams.server.service.email.MessageContentExtractor">
				<constructor-arg>
					<list>
						<value>&#13;&#10;From: </value>
					</list>
				</constructor-arg>
				<constructor-arg>
					<list>
						<value>&#13;&#10;-+\s*Original Message\s*-+&#13;&#10;</value>
						<value>&#13;&#10;On [^&#13;&#10;]+,[^&#13;&#10;]+(?:&#13;&#10;)?[^&#13;&#10;]+ wrote:&#13;&#10;</value>
					</list>
				</constructor-arg>
			</bean>
		</constructor-arg>
		<constructor-arg>
			<bean class="org.eurekastreams.server.service.email.ActionSelectorFactory" />
		</constructor-arg>
		<constructor-arg ref="serviceActionController" />
		<!-- beanFactory is autowired -->
		<constructor-arg ref="tokenEncoder" />
		<constructor-arg ref="tokenContentFormatter" />
		<constructor-arg ref="transactionManager"/>
		<constructor-arg ref="getActivePersonIdByEmail"/>
		<constructor-arg ref="getPersonCryptoKeyMapper"/>
		<constructor-arg ref="getPersonByIdMapper"/>
		<constructor-arg>
			<bean class="org.eurekastreams.server.service.email.MessageReplier">
				<constructor-arg ref="notificationEmailerFactory" />
				<constructor-arg ref="velocityEngine" />
				<constructor-arg ref="velocityGlobalContext" />
				<constructor-arg ref="exceptionSanitizer" />
				<constructor-arg>
				    <bean class="org.eurekastreams.server.persistence.mappers.MapperTransactionDecorator">
        				<constructor-arg ref="findSystemSettings" />
        				<constructor-arg ref="transactionManager" />
    				</bean>
				</constructor-arg>
				<constructor-arg>
					<map>
						<entry key="postSplitActivityCommentsAction">
							<bean parent="emailTemplate"
								p:subject="Error commenting on activity from email submission"
								p:text-body="/org/eurekastreams/server/conf/templates/email/Error-postSplitActivityCommentsAction.txt"
								p:html-body="/org/eurekastreams/server/conf/templates/email/Error-postSplitActivityCommentsAction.html" />
						</entry>
						<entry key="postSplitActivityAndCommentsAction">
							<bean parent="emailTemplate"
								p:subject="Error posting to stream from email submission"
								p:text-body="/org/eurekastreams/server/conf/templates/email/Error-postSplitActivityAndCommentsAction.txt"
								p:html-body="/org/eurekastreams/server/conf/templates/email/Error-postSplitActivityAndCommentsAction.html" />
						</entry>
					</map>
				</constructor-arg>
			</bean>
		</constructor-arg>
		<constructor-arg value="${eureka.mail.ingest.address}" />
  	</bean>
  	
	<bean id="emailIngester" class="org.eurekastreams.server.service.email.ImapEmailIngester">
		<constructor-arg ref="imapStoreFactory" />
		<constructor-arg ref="messageProcessor" />
		<constructor-arg ref="notificationEmailerFactory" />
		<constructor-arg value="${eureka.mail.ingest.input}" />
		<constructor-arg value="${eureka.mail.ingest.error}" />
		<constructor-arg value="${eureka.mail.ingest.done}" />
		<constructor-arg value="${eureka.mail.ingest.discard}" />
	</bean>
  	
	<bean id="emailTemplate" class="org.eurekastreams.server.support.email.EmailTemplate" abstract="true" />  	
  	
</beans>
