<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:util="http://www.springframework.org/schema/util"
	xmlns:p="http://www.springframework.org/schema/p"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
      http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
      http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.5.xsd">

	<!-- ========== GENERATION ========== -->

	<bean id="createNotificationsAction" class="org.eurekastreams.commons.actions.async.TaskHandlerAsyncAction">
        <constructor-arg>
            <bean class="org.eurekastreams.server.action.validation.notification.CreateNotificationsValidation">
                <constructor-arg ref="translators" />
            </bean>
        </constructor-arg>
        <constructor-arg>
            <bean class="org.eurekastreams.server.action.execution.notification.CreateNotificationsExecution">
                <constructor-arg ref="translators" />
                <constructor-arg ref="notifiersByIdMap" />
                <constructor-arg>
                	<bean class="org.eurekastreams.server.persistence.mappers.db.notification.GetNotificationFilterPreferencesByPersonIdsAndCategories" />
				</constructor-arg>
                <constructor-arg ref="getPersonsByIdsMapper" />
                <constructor-arg ref="notificationTypeToCategoryMap" />
                <constructor-arg>
                	<map>
                		<entry key="IN_APP" value-ref="notificationBulkFiltersInApp" />
                		<entry key="EMAIL" value-ref="notificationBulkFiltersEmail" />
                	</map>
                </constructor-arg>
                <constructor-arg>
                	<map>
                		<entry key="IN_APP" value-ref="notificationRecipientFiltersInApp" />
                		<entry key="EMAIL" value-ref="notificationRecipientFiltersEmail" />
                	</map>
                </constructor-arg>
				<constructor-arg ref="defaultNotificationProperties" />
				<constructor-arg ref="notificationPropertyLoadMappers" />
            </bean>
        </constructor-arg>
        <constructor-arg ref="taskHandler" />
        <constructor-arg value="false" />
    </bean>

    <bean id="sendPrebuiltNotificationAction" class="org.eurekastreams.commons.actions.service.TaskHandlerServiceAction">
        <constructor-arg>
			<bean class="org.eurekastreams.server.action.validation.notification.SendPrebuiltNotificationValidation">
				<constructor-arg ref="getPersonByAccountIdMapperAllowNullResult" />
				<constructor-arg value="${eureka.notification.maxMessageLength}" />
				<constructor-arg value="${eureka.notification.maxUrlLength}" />
			</bean>
		</constructor-arg>
        <constructor-arg ref="noAuthorizationStrategy" />
        <constructor-arg>
            <bean class="org.eurekastreams.server.action.execution.notification.SendPrebuiltNotificationExecution">
                <constructor-arg ref="getPersonIdByAccountIdMapper" />
            </bean>
        </constructor-arg>
        <constructor-arg ref="taskHandler" />
        <constructor-arg value="false" />
    </bean>

    <bean id="sendMassPrebuiltNotificationAction" class="org.eurekastreams.commons.actions.service.TaskHandlerServiceAction">
		<constructor-arg>
			<bean class="org.eurekastreams.server.action.validation.notification.SendMassPrebuiltNotificationValidation">
				<constructor-arg value="${eureka.notification.maxMessageLength}" />
				<constructor-arg value="${eureka.notification.maxUrlLength}" />
			</bean>
		</constructor-arg>
        <constructor-arg ref="isSystemAdminAuthorization" />
        <constructor-arg>
            <bean class="org.eurekastreams.server.action.execution.notification.SendMassPrebuiltNotificationExecution">
                <constructor-arg>
                	<bean class="org.eurekastreams.server.persistence.mappers.db.notification.InsertInAppNotificationForAllUsers" />
                </constructor-arg>
				<constructor-arg ref="getPersonIdsByLockedStatus" />
            </bean>
        </constructor-arg>
        <constructor-arg ref="taskHandler" />
        <constructor-arg value="false" />
    </bean>
	

	<!-- ==== TRANSLATION ==== -->

	<bean id="commentTranslator" class="org.eurekastreams.server.action.execution.notification.translator.CommentTranslator">
		<constructor-arg ref="getCommentorIdsByActivityId" />
		<constructor-arg ref="activityDTOMapper" />
	</bean>

    <util:map id="translators">
        <entry key="FOLLOW_PERSON">
            <bean class="org.eurekastreams.server.action.execution.notification.translator.FollowPersonTranslator">
            	<constructor-arg ref="getPersonAccountIdByIdMapper" />
            </bean>
        </entry>
        <entry key="FOLLOW_GROUP">
            <bean class="org.eurekastreams.server.action.execution.notification.translator.FollowGroupTranslator">
                <constructor-arg ref="getGroupCoordinatorIdsByGroupIdMapper" />
                <constructor-arg ref="getPersonAccountIdByIdMapper" />
            </bean>
        </entry>
        <entry key="POST_PERSON_STREAM">
            <bean class="org.eurekastreams.server.action.execution.notification.translator.PostPersonStreamTranslator">
                <constructor-arg>
                	<bean class="org.eurekastreams.server.persistence.mappers.db.GetSubscribedPersonIdsForStreamDbMapper">
 						<constructor-arg value="PERSON" />
    				</bean>
                </constructor-arg>
            </bean>
        </entry>
        <entry key="POST_GROUP_STREAM">
            <bean class="org.eurekastreams.server.action.execution.notification.translator.PostGroupStreamTranslator">
                <constructor-arg ref="getGroupCoordinatorIdsByGroupIdMapper" />
                <constructor-arg ref="getAllGroupSubscribersDao" />
                <constructor-arg ref="getUnrestrictedGroupSubscribersDao" />
            </bean>
        </entry>
        <entry key="COMMENT" value-ref="commentTranslator" />
        <entry key="GROUP_COMMENT" value-ref="commentTranslator" />
        <entry key="LIKE">
            <bean class="org.eurekastreams.server.action.execution.notification.translator.LikeTranslator">
            	<constructor-arg ref="activityDTOMapper" />
            </bean>
        </entry>
        <entry key="FLAG_ACTIVITY">
            <bean class="org.eurekastreams.server.action.execution.notification.translator.FlagTranslator">
                <constructor-arg ref="activityDTOMapper"/>
                <constructor-arg ref="getSystemAdministratorIds" />
            </bean>
        </entry>
        <entry key="REQUEST_NEW_GROUP">
            <bean class="org.eurekastreams.server.action.execution.notification.translator.RequestNewGroupTranslator">
                <constructor-arg ref="findByIdMapper" />
                <constructor-arg ref="getSystemAdministratorIds" />
            </bean>
        </entry>
        <entry key="REQUEST_NEW_GROUP_APPROVED">
            <bean class="org.eurekastreams.server.action.execution.notification.translator.PendingGroupApprovedTranslator">
                <constructor-arg ref="getGroupByIdMapper" />
				<constructor-arg ref="getGroupCoordinatorIdsByGroupIdMapper" />
            </bean>
        </entry>
        <entry key="REQUEST_NEW_GROUP_DENIED">
            <bean class="org.eurekastreams.server.action.execution.notification.translator.PendingGroupDeniedTranslator" />
        </entry>
        <entry key="REQUEST_GROUP_ACCESS">
            <bean class="org.eurekastreams.server.action.execution.notification.translator.RequestGroupAccessTranslator">
                <constructor-arg ref="getGroupCoordinatorIdsByGroupIdMapper" />
                <constructor-arg ref="getGroupUniqueIdByIdMapper" />
            </bean>
        </entry>
        <entry key="REQUEST_GROUP_ACCESS_APPROVED">
            <bean class="org.eurekastreams.server.action.execution.notification.translator.GroupMembershipResponseTranslator">
                <constructor-arg value="REQUEST_GROUP_ACCESS_APPROVED" />
                <constructor-arg ref="getGroupUniqueIdByIdMapper" />
            </bean>
        </entry>
        <entry key="REQUEST_GROUP_ACCESS_DENIED">
            <bean class="org.eurekastreams.server.action.execution.notification.translator.GroupMembershipResponseTranslator">
                <constructor-arg value="REQUEST_GROUP_ACCESS_DENIED" />
                <constructor-arg ref="getGroupUniqueIdByIdMapper" />
            </bean>
        </entry>
		<entry key="EXTERNAL_PRE_BUILT">
            <bean class="org.eurekastreams.server.action.execution.notification.translator.PreBuiltNotificationTranslator" />
        </entry>
    </util:map>

	<!-- ==== FILTERING ==== -->

	<util:set id="notificationCategories">
		<value>POST_TO_PERSONAL_STREAM</value>
		<value>POST_TO_FOLLOWED_STREAM</value>
		<value>COMMENT</value>
		<value>FOLLOW</value>
		<value>LIKE</value>
	</util:set>

    <util:map id="notificationTypeToCategoryMap" key-type="org.eurekastreams.server.domain.NotificationType">
        <entry key="POST_TO_PERSONAL_STREAM" value="POST_TO_PERSONAL_STREAM" />
        <entry key="POST_TO_FOLLOWED_STREAM" value="POST_TO_FOLLOWED_STREAM" />
        <entry key="COMMENT_TO_PERSONAL_POST" value="COMMENT" />
        <entry key="COMMENT_TO_COMMENTED_POST" value="COMMENT" />
        <entry key="FOLLOW_PERSON" value="FOLLOW" />
        <entry key="FOLLOW_GROUP" value="FOLLOW" />
        <entry key="LIKE_ACTIVITY" value="LIKE" />
    </util:map>

	<!-- bulk and recipient filters - one list per notifier -->
	<util:list id="notificationBulkFiltersInApp">
		<bean class="org.eurekastreams.server.action.execution.notification.filter.BlockTypeBulkFilter">
			<constructor-arg>
				<list>
					<value>POST_TO_FOLLOWED_STREAM</value>
				</list>
			</constructor-arg>
		</bean>
	</util:list>
	<util:list id="notificationBulkFiltersEmail" />
	<util:list id="notificationRecipientFiltersInApp">
		<bean class="org.eurekastreams.server.action.execution.notification.filter.LockedUserRecipientFilter" />
	</util:list>
	<util:list id="notificationRecipientFiltersEmail">
		<bean class="org.eurekastreams.server.action.execution.notification.filter.LockedUserRecipientFilter" />
	</util:list>

	<!-- ==== RENDERING ==== -->

	<!-- Apache Velocity beans -->

	<bean id="velocityEngine" class="org.apache.velocity.app.VelocityEngine" init-method="init">
		<constructor-arg>
			<bean class="org.eurekastreams.server.service.utility.ResourcePropertyFileLoaderFactoryBean">
				<constructor-arg value="classpath:conf/velocity.properties" />
			</bean>
		</constructor-arg>
	</bean>

	<bean id="velocityGlobalContext" class="org.apache.velocity.VelocityContext">
		<constructor-arg>
			<map>
				<entry key="properties" value-ref="applicationPropertiesAccessor" />
				<entry key="helper">
					<bean class="org.eurekastreams.server.action.execution.notification.notifier.NotificationMessageBuilderHelper">
						<constructor-arg value="${eureka.web.baseurlpath}" />
					</bean>
				</entry>
				<entry key="uiUrlBuilder">
					<value type="java.lang.Class">org.eurekastreams.server.service.utility.ui.UiUrlBuilder</value>
				</entry>
				<entry key="typeToCategoryMap" value-ref="notificationTypeToCategoryMap" />
				<entry key="esctool">
					<bean class="org.apache.velocity.tools.generic.EscapeTool" />
				</entry>
				<!-- <entry key="linktool">
					<bean class="org.apache.velocity.tools.generic.LinkTool" />
				</entry> -->
			</map>
		</constructor-arg>
	</bean>

	<!-- Notifiers -->

    <bean id="inAppNotifier" class="org.eurekastreams.server.action.execution.notification.notifier.InAppNotificationNotifier">
		<constructor-arg ref="velocityEngine" />
		<constructor-arg ref="velocityGlobalContext" />
		<constructor-arg ref="inAppNotifierMessageTemplates" />
		<constructor-arg ref="inAppNotifierAggregateMessageTemplates" />
        <constructor-arg>
            <bean class="org.eurekastreams.server.persistence.mappers.InsertMapper" />
        </constructor-arg>
        <constructor-arg>
            <bean class="org.eurekastreams.server.persistence.mappers.UpdateMapper" />
        </constructor-arg>
        <constructor-arg ref="getCachedUnreadInAppNotificationCountsByUserId_FORCE_REFRESH" />
		<constructor-arg>
			<bean class="org.eurekastreams.server.persistence.mappers.db.GetPlaceholderEntityMapper">
				<constructor-arg value="org.eurekastreams.server.domain.Person" />
			</bean>
        </constructor-arg>       
        <constructor-arg>
            <bean class="org.eurekastreams.server.persistence.mappers.db.notification.GetExistingInAppNotificationForAggregation" />
        </constructor-arg>
    </bean>

    <bean id="emailNotifier" class="org.eurekastreams.server.action.execution.notification.notifier.EmailNotifier">
		<constructor-arg ref="velocityEngine" />
		<constructor-arg ref="velocityGlobalContext" />
		<constructor-arg ref="emailNotifierMessageTemplates" />
		<constructor-arg value="${eureka.notification.email.subjectprefix}" />
        <constructor-arg ref="tokenContentFormatter" />
		<constructor-arg ref="tokenContentEmailAddressBuilder" />
		<constructor-arg ref="postActivityCommentAuthorizer" />
		<constructor-arg value="${eureka.notification.mail.sendHtml}" />
    </bean>
	
	
    <!-- all notifiers, by ID -->
    <util:map id="notifiersByIdMap">
        <entry key="IN_APP" value-ref="inAppNotifier" />
		<entry key="EMAIL" value-ref="emailNotifier" />
    </util:map>

    <!-- names of notifiers which can be disabled, by ID, in order by columns on display -->
    <util:map id="notifierIdToDisplayMap" map-class="java.util.LinkedHashMap">
        <entry key="IN_APP" value="In-App" />
        <entry key="EMAIL" value="Email" />
    </util:map>

	<!-- data loaders (for lazy-loading) -->
	<util:map id="notificationPropertyLoadMappers" key-type="java.lang.Class">
		<entry key="org.eurekastreams.server.search.modelview.PersonModelView" value-ref="getPersonByIdMapperAllowNullResult" />
		<entry key="org.eurekastreams.server.search.modelview.DomainGroupModelView" value-ref="getGroupByIdMapperAllowNullResult" />
		<entry key="org.eurekastreams.server.domain.stream.ActivityDTO" value-ref="activityDTOMapper" />
		<entry key="org.eurekastreams.server.search.modelview.CommentDTO" value-ref="getCommentByIdAllowNoneDAO" />
		<entry key="org.eurekastreams.server.domain.OAuthConsumer" value-ref="getOAuthConsumerByConsumerKeyMapper" />
		<entry key="org.eurekastreams.server.domain.SystemSettings" value-ref="findSystemSettings" />
    </util:map>

	<!-- default properties for notifiers -->
	<util:map id="defaultNotificationProperties">
		<!-- always allow for system settings to be lazy-loaded via the property "settings" -->
		<entry key="settings">
			<bean class="org.eurekastreams.server.domain.Property" p:type="org.eurekastreams.server.domain.SystemSettings" />
		</entry>
	</util:map>

	<!-- ========== IN-APP ========== -->

	<bean id="refreshUserInAppNotificationCounts" class="org.eurekastreams.commons.actions.async.AsyncAction">
        <constructor-arg ref="noValidationStrategy" />
        <constructor-arg>
             <bean class="org.eurekastreams.server.action.execution.ExecuteDomainMapperExecution">
            	<constructor-arg ref="passThruRequestTransformer" />
                <constructor-arg ref="getCachedUnreadInAppNotificationCountsByUserId_FORCE_REFRESH" />
            </bean>
        </constructor-arg>
        <constructor-arg value="false" />
    </bean>
	
	<bean id="getUserInAppNotificationCounts" class="org.eurekastreams.commons.actions.service.ServiceAction">
        <constructor-arg ref="noValidationStrategy" />
        <constructor-arg ref="noAuthorizationStrategy" />
        <constructor-arg>
            <bean class="org.eurekastreams.server.action.execution.ExecuteDomainMapperExecution">
            	<constructor-arg ref="usePrincipalPersonIdRequestTransformer" />
                <constructor-arg ref="getCachedUnreadInAppNotificationCountsByUserId" />
            </bean>
        </constructor-arg>
        <constructor-arg value="true" />
	</bean>

	<bean id="getInAppNotifications" class="org.eurekastreams.commons.actions.service.ServiceAction">
        <constructor-arg ref="noValidationStrategy" />
        <constructor-arg ref="noAuthorizationStrategy" />
        <constructor-arg>
            <bean class="org.eurekastreams.server.action.execution.notification.inapp.GetInAppNotificationsExecution">
				<constructor-arg>
					<bean class="org.eurekastreams.server.persistence.mappers.db.notification.GetInAppNotificationsByUserId">
						<!-- Maximum number of in-app notifications to fetch -->
						<constructor-arg value="${eureka.notification.inapp.maxFetch}" />
					</bean>
				</constructor-arg>
				<constructor-arg ref="getPeopleByAccountIdsMapper" />
				<constructor-arg ref="bulkDomainGroupsByShortNameMapper" />
				<constructor-arg ref="notificationTypeToCategoryMap" />
            </bean>
        </constructor-arg>
        <constructor-arg value="true" />
	</bean>

	<bean id="markInAppNotificationsRead" class="org.eurekastreams.commons.actions.service.ServiceAction">
        <constructor-arg ref="noValidationStrategy" />
        <constructor-arg ref="noAuthorizationStrategy" />
        <constructor-arg>
            <bean class="org.eurekastreams.server.action.execution.notification.inapp.ModifyInAppNotificationsExecution">
				<constructor-arg>
					<bean class="org.eurekastreams.server.persistence.mappers.db.notification.MarkInAppNotificationsAsRead" />
				</constructor-arg>
				<constructor-arg ref="getCachedUnreadInAppNotificationCountsByUserId_FORCE_REFRESH" />
            </bean>
        </constructor-arg>
        <constructor-arg value="false" />
	</bean>

	<bean id="deleteInAppNotifications" class="org.eurekastreams.commons.actions.service.ServiceAction">
        <constructor-arg ref="noValidationStrategy" />
        <constructor-arg ref="noAuthorizationStrategy" />
        <constructor-arg>
            <bean class="org.eurekastreams.server.action.execution.notification.inapp.ModifyInAppNotificationsExecution">
				<constructor-arg>
					<bean class="org.eurekastreams.server.persistence.mappers.db.notification.DeleteInAppNotifications" />
				</constructor-arg>
				<constructor-arg ref="getCachedUnreadInAppNotificationCountsByUserId_FORCE_REFRESH" />
            </bean>
        </constructor-arg>
        <constructor-arg value="false" />
	</bean>

    <bean id="deleteOldApplicationAlerts" class="org.eurekastreams.commons.actions.async.AsyncAction">
        <constructor-arg ref="noValidationStrategy" />
        <constructor-arg>
            <bean class="org.eurekastreams.server.action.execution.notification.inapp.DeleteOldInAppNotificationsExecution">
				<constructor-arg>
					<bean class="org.eurekastreams.server.persistence.mappers.db.notification.DeleteInAppNotificationsByDate" />
				</constructor-arg>
				<constructor-arg>
					<bean class="org.eurekastreams.server.persistence.mappers.db.notification.GetUserIdsWithUnreadInAppNotificationsByDate" />
				</constructor-arg>
                <constructor-arg ref="getCachedUnreadInAppNotificationCountsByUserId_FORCE_REFRESH" />
                <!-- Age (in days) at which in-app notifications should be deleted. -->
                <constructor-arg type="int" value="${eureka.notification.inapp.maxAge}" />
		     </bean>
        </constructor-arg>
        <constructor-arg value="false" />
    </bean>
	
	<!-- ========== EMAIL ========== -->
	
	<bean id="sendEmailNotificationAction" class="org.eurekastreams.commons.actions.async.AsyncAction">
		<constructor-arg ref="noValidationStrategy" />
		<constructor-arg>
			<bean class="org.eurekastreams.server.action.execution.notification.email.SendNotificationEmailExecution">
				<constructor-arg ref="notificationEmailerFactory" />
			</bean>
		</constructor-arg>	
        <constructor-arg value="true" />
    </bean>

	<!-- ========== PREFERENCES ========== -->
	
	<bean id="getCurrentUserNotificationPreferences" class="org.eurekastreams.commons.actions.service.ServiceAction">
        <constructor-arg ref="noValidationStrategy" />
        <constructor-arg ref="noAuthorizationStrategy" />
        <constructor-arg>
            <bean class="org.eurekastreams.server.action.execution.notification.filter.GetUserNotificationFilterPreferencesExecution">
				<constructor-arg>
					<bean class="org.eurekastreams.server.persistence.mappers.db.notification.GetNotificationFilterPreferencesByPersonId" />
				</constructor-arg>
				<constructor-arg ref="notifierIdToDisplayMap" />
				<constructor-arg ref="notificationCategories" />
            </bean>
        </constructor-arg>
        <constructor-arg value="true" />
	</bean>

	<bean id="setCurrentUserNotificationPreferences" class="org.eurekastreams.commons.actions.service.ServiceAction">
        <constructor-arg ref="noValidationStrategy" />
        <constructor-arg ref="noAuthorizationStrategy" />
        <constructor-arg>
            <bean class="org.eurekastreams.server.action.execution.ExecuteDomainMapperExecution">
            	<constructor-arg>
	            	<bean class="org.eurekastreams.server.action.request.transformer.notification.SetCurrentUserNotificationPreferencesTransformer">
						<constructor-arg ref="notifierIdToDisplayMap" />
						<constructor-arg ref="notificationCategories" />
	            	</bean>
            	</constructor-arg>
				<constructor-arg>
					<bean class="org.eurekastreams.server.persistence.mappers.db.notification.SetAllUserNotificationFilterPreferences" />
				</constructor-arg>
            </bean>
        </constructor-arg>
        <constructor-arg value="false" />
	</bean>
	
	<bean id="disableCurrentUserNotificationCategory" class="org.eurekastreams.commons.actions.service.ServiceAction">
        <constructor-arg>
        	<bean class="org.eurekastreams.server.action.validation.notification.DisableNotificationCategoryValidation">
        		<constructor-arg ref="notificationCategories" />
        	</bean>
        </constructor-arg>
        <constructor-arg ref="noAuthorizationStrategy" />
        <constructor-arg>
            <bean class="org.eurekastreams.server.action.execution.notification.filter.DisableNotificationCategoryExecution">
				<constructor-arg>
					<bean class="org.eurekastreams.server.persistence.mappers.db.notification.SetUserNotificationFilterPreferences" />
				</constructor-arg>
				<constructor-arg ref="notifierIdToDisplayMap" />
            </bean>
        </constructor-arg>
        <constructor-arg value="false" />
	</bean>
	

	<!-- ========== CONTENT ========== -->

	<!-- ==== IN-APP ==== -->

	<util:map id="inAppNotifierMessageTemplates">
		<entry key="LIKE_ACTIVITY" value="$actor.displayName liked your #activityType($activity)." />
		<entry key="POST_TO_PERSONAL_STREAM" value="$actor.displayName posted a #activityType($activity) to your stream." />
        <entry key="POST_TO_FOLLOWED_STREAM" value="$actor.displayName posted a #activityType($activity) to #streamDescription($stream,$recipient) stream." />
		<entry key="COMMENT_TO_PERSONAL_POST" value="$actor.displayName commented on your #activityType($activity)." />
		<entry key="COMMENT_TO_COMMENTED_POST" value="$actor.displayName also commented on $activity.actor.displayName's #activityType($activity)." />
		<entry key="FOLLOW_PERSON" value="$actor.displayName is following your stream." />
		<entry key="FOLLOW_GROUP" value="$actor.displayName is following the $stream.displayName group." />
		<entry key="FLAG_ACTIVITY" value="$actor.displayName flagged a #activityType($activity) in #streamDescription($stream,$recipient) stream." />
		<entry key="REQUEST_NEW_GROUP" value="The $group.name group is pending approval." />
		<entry key="REQUEST_NEW_GROUP_APPROVED" value="Your request to create the $group.displayName group has been approved." />
		<entry key="REQUEST_NEW_GROUP_DENIED" value="Your request to create the $groupName group has been denied." />
		<entry key="REQUEST_GROUP_ACCESS" value="$actor.displayName requested to follow the $group.displayName private group." />
		<entry key="REQUEST_GROUP_ACCESS_APPROVED" value="Your request to follow the $group.displayName group has been approved." />
		<entry key="REQUEST_GROUP_ACCESS_DENIED" value="Your request to follow the $group.displayName group has been denied." />
		<entry key="PASS_THROUGH" value="$message" />
	</util:map>
	
	<util:map id="inAppNotifierAggregateMessageTemplates">
		<entry key="COMMENT_TO_PERSONAL_POST" value="There have been $aggregationCount new comments on your #activityType($activity)." />
		<entry key="COMMENT_TO_COMMENTED_POST" value="There have been $aggregationCount new comments on $activity.actor.displayName's #activityType($activity)." />
	</util:map>

	<!-- ==== EMAIL ==== -->

	<bean id="notifEmailTemplate" class="org.eurekastreams.server.action.execution.notification.notifier.EmailNotificationTemplate" abstract="true" />
	
	<util:map id="emailNotifierMessageTemplates">
		<entry key="LIKE_ACTIVITY">
			<bean parent="notifEmailTemplate" 
				p:subject="$actor.displayName liked your #activityType($activity)#siteLabel_subject()"
				p:text-body="/org/eurekastreams/server/conf/templates/email/Notification-LIKE_ACTIVITY.txt"
				p:html-body="/org/eurekastreams/server/conf/templates/email/Notification-LIKE_ACTIVITY.html"
				p:reply="COMMENT" />
		</entry>
		<entry key="POST_TO_PERSONAL_STREAM">
			<bean parent="notifEmailTemplate"
				p:subject="$actor.displayName posted a #activityType($activity) to your stream#siteLabel_subject()"
				p:text-body="/org/eurekastreams/server/conf/templates/email/Notification-POST_TO_PERSONAL_STREAM.txt"
				p:html-body="/org/eurekastreams/server/conf/templates/email/Notification-POST_TO_PERSONAL_STREAM.html"
				p:reply="COMMENT" />
		</entry>
		<entry key="POST_TO_FOLLOWED_STREAM">
			<bean parent="notifEmailTemplate"
				p:subject="$actor.displayName posted a #activityType($activity) to #streamDescription($stream,$recipient) stream#siteLabel_subject()"
				p:text-body="/org/eurekastreams/server/conf/templates/email/Notification-POST_TO_FOLLOWED_STREAM.txt"
				p:html-body="/org/eurekastreams/server/conf/templates/email/Notification-POST_TO_FOLLOWED_STREAM.html"
				p:reply="COMMENT" />
		</entry>
		<entry key="COMMENT_TO_PERSONAL_POST">
			<bean parent="notifEmailTemplate"
				p:subject="$actor.displayName commented on your #activityType($activity)#siteLabel_subject()"
				p:text-body="/org/eurekastreams/server/conf/templates/email/Notification-COMMENT_TO_PERSONAL_POST.txt"
				p:html-body="/org/eurekastreams/server/conf/templates/email/Notification-COMMENT_TO_PERSONAL_POST.html"
				p:reply="COMMENT" />
		</entry>
		<entry key="COMMENT_TO_COMMENTED_POST">
			<bean parent="notifEmailTemplate"
				p:subject="$actor.displayName also commented on $activity.actor.displayName's #activityType($activity)#siteLabel_subject()"
				p:text-body="/org/eurekastreams/server/conf/templates/email/Notification-COMMENT_TO_COMMENTED_POST.txt"
				p:html-body="/org/eurekastreams/server/conf/templates/email/Notification-COMMENT_TO_COMMENTED_POST.html"
				p:reply="COMMENT" />
		</entry>
		<entry key="FOLLOW_PERSON">
			<bean parent="notifEmailTemplate"
				p:subject="$actor.displayName is following your stream"
				p:text-body="/org/eurekastreams/server/conf/templates/email/Notification-FOLLOW_PERSON.txt"
				p:html-body="/org/eurekastreams/server/conf/templates/email/Notification-FOLLOW_PERSON.html"
				p:reply="ACTOR" />
		</entry>
		<entry key="FOLLOW_GROUP">
			<bean parent="notifEmailTemplate"
				p:subject="$actor.displayName is following the $stream.displayName group"
				p:text-body="/org/eurekastreams/server/conf/templates/email/Notification-FOLLOW_GROUP.txt"
				p:html-body="/org/eurekastreams/server/conf/templates/email/Notification-FOLLOW_GROUP.html"
				p:reply="ACTOR" />
		</entry>
		<entry key="FLAG_ACTIVITY">
			<bean parent="notifEmailTemplate"
				p:subject="$actor.displayName flagged a #activityType($activity) in #streamDescription($stream,$recipient) stream."
				p:text-body="/org/eurekastreams/server/conf/templates/email/Notification-FLAG_ACTIVITY.txt"
				p:html-body="/org/eurekastreams/server/conf/templates/email/Notification-FLAG_ACTIVITY.html"
				p:reply="ACTOR" />
		</entry>
		<entry key="REQUEST_NEW_GROUP">
			<bean parent="notifEmailTemplate"
				p:subject="The $group.displayName group is pending approval"
				p:text-body="/org/eurekastreams/server/conf/templates/email/Notification-REQUEST_NEW_GROUP.txt"
				p:html-body="/org/eurekastreams/server/conf/templates/email/Notification-REQUEST_NEW_GROUP.html"
				p:reply="ACTOR" />
		</entry>
		<entry key="REQUEST_NEW_GROUP_APPROVED">
			<bean parent="notifEmailTemplate"
				p:subject="Pending group request for the $group.displayName group has been approved"
				p:text-body="/org/eurekastreams/server/conf/templates/email/Notification-REQUEST_NEW_GROUP_APPROVED.txt"
				p:html-body="/org/eurekastreams/server/conf/templates/email/Notification-REQUEST_NEW_GROUP_APPROVED.html" />
		</entry>
		<entry key="REQUEST_NEW_GROUP_DENIED">
			<bean parent="notifEmailTemplate"
				p:subject="Pending group request for the $groupName group has been denied"
				p:text-body="/org/eurekastreams/server/conf/templates/email/Notification-REQUEST_NEW_GROUP_DENIED.txt"
				p:html-body="/org/eurekastreams/server/conf/templates/email/Notification-REQUEST_NEW_GROUP_DENIED.html" />
		</entry>
		<entry key="REQUEST_GROUP_ACCESS">
			<bean parent="notifEmailTemplate"
				p:subject="$actor.displayName requested to follow the $group.displayName private group"
				p:text-body="/org/eurekastreams/server/conf/templates/email/Notification-REQUEST_GROUP_ACCESS.txt"
				p:html-body="/org/eurekastreams/server/conf/templates/email/Notification-REQUEST_GROUP_ACCESS.html"
				p:reply="ACTOR" />
		</entry>
		<entry key="REQUEST_GROUP_ACCESS_APPROVED">
			<bean parent="notifEmailTemplate"
				p:subject="Request to follow the $group.displayName private group has been approved"
				p:text-body="/org/eurekastreams/server/conf/templates/email/Notification-REQUEST_GROUP_ACCESS_APPROVED.txt"
				p:html-body="/org/eurekastreams/server/conf/templates/email/Notification-REQUEST_GROUP_ACCESS_APPROVED.html" />
		</entry>
		<entry key="REQUEST_GROUP_ACCESS_DENIED">
			<bean parent="notifEmailTemplate"
				p:subject="Request to follow the $group.displayName private group has been denied"
				p:text-body="/org/eurekastreams/server/conf/templates/email/Notification-REQUEST_GROUP_ACCESS_DENIED.txt"
				p:html-body="/org/eurekastreams/server/conf/templates/email/Notification-REQUEST_GROUP_ACCESS_DENIED.html" />
		</entry>
		<entry key="PASS_THROUGH">
			<bean parent="notifEmailTemplate"
				p:subject="$message#siteLabel_subject()"
				p:text-body="/org/eurekastreams/server/conf/templates/email/Notification-PASS_THROUGH.txt"
				p:html-body="/org/eurekastreams/server/conf/templates/email/Notification-PASS_THROUGH.html" />
		</entry>
	</util:map>

</beans>
