<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:util="http://www.springframework.org/schema/util"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
      http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
      http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.5.xsd">
      
   <bean id="initializeCache" class="org.eurekastreams.commons.actions.async.TaskHandlerAsyncAction">
        <constructor-arg ref="noValidationStrategy" />
        <constructor-arg>
            <bean class="org.eurekastreams.server.action.execution.InitializeCacheExecution">
                <constructor-arg ref="memcachedCache" />
                <constructor-arg>
                    <list>
                        <value>queuePersonCacheWarmingTasks</value> 
                        <value>queueThemeCacheWarmingTasks</value>                       
                        <value>queueGroupCacheWarmingTasks</value>                                                                                           
                    </list>
                </constructor-arg>
            </bean>
        </constructor-arg>
        <constructor-arg ref="taskHandler" />
        <constructor-arg value="true" />
    </bean>
    
    <bean id="queuePersonCacheWarmingTasks" class="org.eurekastreams.commons.actions.async.TaskHandlerAsyncAction">
        <constructor-arg ref="noValidationStrategy" />
        <constructor-arg>
            <bean class="org.eurekastreams.server.action.execution.QueueKeyBasedTasksExecution">
                <constructor-arg>
                    <list>
                        <value>cachePerson</value>
                        <value>cachePersonPageProperties</value>
                        <value>cacheFollowedPersonIdsForPersonList</value>
                        <value>cacheFollowerPersonIdsForPersonList</value>
                        <value>cacheFollowedGroupIdsForPersonList</value>
                    </list>
                </constructor-arg>
                <constructor-arg ref="getPersonIds" />
            </bean>
        </constructor-arg>
        <constructor-arg ref="taskHandler" />
        <constructor-arg value="true" />
    </bean>   
    
    <bean id="queueGroupCacheWarmingTasks" class="org.eurekastreams.commons.actions.async.TaskHandlerAsyncAction">
        <constructor-arg ref="noValidationStrategy" />
        <constructor-arg>
            <bean class="org.eurekastreams.server.action.execution.QueueKeyBasedTasksExecution">
                <constructor-arg>
                    <list>
                        <value>cacheGroup</value>
                        <value>cacheFollowerPersonIdsForGroupList</value>
                        <value>cacheGroupCoordinatorIdsForGroupList</value>
                    </list>
                </constructor-arg>
                <constructor-arg ref="getGroupIds" />
            </bean>
        </constructor-arg>
        <constructor-arg ref="taskHandler" />
        <constructor-arg value="true" />
    </bean>
    
    <bean id="queueThemeCacheWarmingTasks" class="org.eurekastreams.commons.actions.async.TaskHandlerAsyncAction">
        <constructor-arg ref="noValidationStrategy" />
        <constructor-arg>
            <bean class="org.eurekastreams.server.action.execution.QueueKeyBasedTasksExecution">
                <constructor-arg>
                    <list>
                        <value>cacheThemeCss</value>
                    </list>
                </constructor-arg>
                <constructor-arg ref="getThemeUuidsDbMapper" />
            </bean>
        </constructor-arg>
        <constructor-arg ref="taskHandler" />
        <constructor-arg value="true" />
    </bean>
    
    <bean id="cacheGroup" class="org.eurekastreams.commons.actions.async.AsyncAction">
        <constructor-arg ref="noValidationStrategy" />
        <constructor-arg>
            <bean parent="baseParamListExecuteDomainMapperExecution">
                <constructor-arg ref="getGroupsByIdsMapper_FORCE_REFRESH" />
            </bean>
        </constructor-arg>
        <constructor-arg value="true" />
    </bean>
    
    <bean id="cachePerson" class="org.eurekastreams.commons.actions.async.AsyncAction">
        <constructor-arg ref="noValidationStrategy" />
        <constructor-arg>
            <bean parent="baseParamListExecuteDomainMapperExecution">
                <constructor-arg ref="getPersonsByIdsMapper_FORCE_REFRESH" />
            </bean>
        </constructor-arg>
        <constructor-arg value="true" />
    </bean>
    
    <bean id="cachePersonPageProperties" class="org.eurekastreams.commons.actions.async.AsyncAction">
        <constructor-arg ref="noValidationStrategy" />
        <constructor-arg>
            <bean parent="baseParamExecuteDomainMapperExecution">
                <constructor-arg ref="getPersonPagePropertiesById_FORCE_REFRESH" />  
            </bean>
        </constructor-arg>
        <constructor-arg value="true" />
    </bean> 
    
    <bean id="cacheFollowedPersonIdsForPersonList" class="org.eurekastreams.commons.actions.async.AsyncAction">
        <constructor-arg ref="noValidationStrategy" />
        <constructor-arg>
            <bean parent="baseParamExecuteDomainMapperExecution">
                <constructor-arg ref="getFollowedPersonIdsForPersonByIdMapper_FORCE_REFRESH" />
            </bean>
        </constructor-arg>
        <constructor-arg value="true" />
    </bean>
    
    <bean id="cacheFollowerPersonIdsForPersonList" class="org.eurekastreams.commons.actions.async.AsyncAction">
        <constructor-arg ref="noValidationStrategy" />
        <constructor-arg>
            <bean parent="baseParamExecuteDomainMapperExecution">
                <constructor-arg ref="getFollowerPersonIdsForPersonByIdMapper_FORCE_REFRESH" />
            </bean>
        </constructor-arg>
        <constructor-arg value="true" />
    </bean>   
    
    <bean id="cacheFollowedGroupIdsForPersonList" class="org.eurekastreams.commons.actions.async.AsyncAction">
        <constructor-arg ref="noValidationStrategy" />
        <constructor-arg>
            <bean parent="baseParamExecuteDomainMapperExecution">
                <constructor-arg ref="getFollowedGroupIdsForPersonByIdMapper_FORCE_REFRESH" />
            </bean>
        </constructor-arg>
        <constructor-arg value="true" />
    </bean> 
    
    <bean id="cacheFollowerPersonIdsForGroupList" class="org.eurekastreams.commons.actions.async.AsyncAction">
        <constructor-arg ref="noValidationStrategy" />
        <constructor-arg>
            <bean parent="baseParamExecuteDomainMapperExecution">
                <constructor-arg ref="getFollowerPersonIdsForGroupByIdMapper_FORCE_REFRESH" />
            </bean>
        </constructor-arg>
        <constructor-arg value="true" />
    </bean>
    
    <bean id="cacheGroupCoordinatorIdsForGroupList" class="org.eurekastreams.commons.actions.async.AsyncAction">
        <constructor-arg ref="noValidationStrategy" />
        <constructor-arg>
            <bean parent="baseParamExecuteDomainMapperExecution">
                <constructor-arg ref="getGroupCoordinatorIdsByGroupIdMapper_FORCE_REFRESH" />
            </bean>
        </constructor-arg>
        <constructor-arg value="true" />
    </bean>   
    
    <bean id="cacheThemeCss" class="org.eurekastreams.commons.actions.async.AsyncAction">
        <constructor-arg ref="noValidationStrategy" />
        <constructor-arg>
            <bean parent="baseParamExecuteDomainMapperExecution">
                <!-- This mapper will force refresh of BOTH theme version AND theme css as it is config'd with the 
                    force refresh version of getThemeCssByUuid mapper.-->
                <constructor-arg ref="getThemeVersionByUuid_FORCE_REFRESH" />
            </bean>
        </constructor-arg>
        <constructor-arg value="true" />
    </bean>               
      
</beans>
      