<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans.xsd
      http://www.springframework.org/schema/tx
      http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!--
        Only servlet context aware actions are defined in this application
        context file. This is to help make the non-servlet context aware
        actions more reusable with the Eureka Streams OpenSocial implementation in
        Shindig.
    -->

    <bean id="updatePersonAvatarCachesStrategy" class="org.eurekastreams.server.action.execution.profile.UpdatePersonAvatarCaches"/>

    <bean id="resizePersonAvatarExecution" class="org.eurekastreams.server.action.execution.profile.ResizeAvatarExecution">
       <constructor-arg ref="jpaPersonMapper" />
       <constructor-arg>
           <bean class="org.eurekastreams.server.service.actions.strategies.HashGeneratorStrategy" />
       </constructor-arg>
       <constructor-arg ref="imageWriter" />
       <constructor-arg ref="personFinder" />              
       <property name="cacheUpdaterStategy" ref="updatePersonAvatarCachesStrategy" />
   </bean>
   
    <bean id="resizeGroupAvatarExecution" class="org.eurekastreams.server.action.execution.profile.ResizeAvatarExecution">
	    <constructor-arg ref="jpaGroupMapper"/>
	    <constructor-arg>
	        <bean class="org.eurekastreams.server.service.actions.strategies.HashGeneratorStrategy" />
	    </constructor-arg>
	    <constructor-arg ref="imageWriter"/>
	    <constructor-arg ref="groupFinder"/>
	</bean>   
	
    <bean id="resizeOrgAvatarExecution" class="org.eurekastreams.server.action.execution.profile.ResizeAvatarExecution">
        <constructor-arg ref="jpaOrganizationMapper"/>
        <constructor-arg>
            <bean class="org.eurekastreams.server.service.actions.strategies.HashGeneratorStrategy" />
        </constructor-arg>
        <constructor-arg ref="imageWriter"/>
        <constructor-arg ref="organizationFinder"/>
    </bean>	

   <bean id="resizePersonAvatar" class="org.eurekastreams.commons.actions.service.TaskHandlerServiceAction">
        <constructor-arg ref="noValidationStrategy" />
        <constructor-arg ref="noAuthorizationStrategy" />
        <constructor-arg ref="resizePersonAvatarExecution" />
        <constructor-arg value="false" />
        <constructor-arg ref="taskHandler" />
    </bean>    
      
    <bean id="deletePersonAvatar" class="org.eurekastreams.commons.actions.service.TaskHandlerServiceAction">
        <constructor-arg ref="noValidationStrategy" />
        <constructor-arg ref="noAuthorizationStrategy" />
        <constructor-arg>
            <bean class="org.eurekastreams.server.action.execution.profile.DeleteAvatarExecution">
                <constructor-arg ref="jpaPersonMapper" />
                <constructor-arg ref="imageWriter" />
                <constructor-arg ref="personFinder" />                      
                <property name="cacheUpdaterStategy" ref="updatePersonAvatarCachesStrategy" />
            </bean>
        </constructor-arg>
        <constructor-arg value="false" />
        <constructor-arg ref="taskHandler" />
    </bean>   
    
    <bean id="savePersonAvatar" class="org.eurekastreams.commons.actions.service.TaskHandlerServiceAction">
        <constructor-arg ref="noValidationStrategy" />
        <constructor-arg ref="noAuthorizationStrategy" />
        <constructor-arg>
            <bean class="org.eurekastreams.server.action.execution.profile.SaveAvatarExecution">
                <constructor-arg ref="jpaPersonMapper" />
                <constructor-arg ref="resizePersonAvatarExecution" />
                <constructor-arg ref="imageWriter" />
                <constructor-arg ref="personFinder" />                      
                <property name="cacheUpdaterStategy" ref="updatePersonAvatarCachesStrategy" />
            </bean>
        </constructor-arg>
        <constructor-arg value="false" />
        <constructor-arg ref="taskHandler" />
    </bean>
    
    <bean id="resizeGroupAvatar" class="org.eurekastreams.commons.actions.service.TaskHandlerServiceAction">
        <constructor-arg ref="noValidationStrategy" />
        <constructor-arg>
            <bean class="org.eurekastreams.server.action.authorization.CurrentUserGroupCoordinatorRecursivelyAuthorization">
                <constructor-arg>
                    <bean class="org.eurekastreams.server.action.request.transformer.EntityIdFromResizeAvatarRequestTransformer" >
                        <property name="returnValueAsString" value="true"/>
                    </bean>
                </constructor-arg>
                <constructor-arg ref="getAllPersonIdsWhoHaveGroupCoordinatorAccess"/>
            </bean>
        </constructor-arg>
        <constructor-arg ref="resizeGroupAvatarExecution" />
        <constructor-arg value="false" />
        <constructor-arg ref="taskHandler" />
    </bean>    
    
    <bean id="deleteGroupAvatar" class="org.eurekastreams.commons.actions.service.TaskHandlerServiceAction">
        <constructor-arg ref="noValidationStrategy" />
        <constructor-arg>
            <bean class="org.eurekastreams.server.action.authorization.CurrentUserGroupCoordinatorRecursivelyAuthorization">
                <constructor-arg>
                    <bean class="org.eurekastreams.server.action.request.transformer.ToStringTransformer"/>
                </constructor-arg>
                <constructor-arg ref="getAllPersonIdsWhoHaveGroupCoordinatorAccess"/>
            </bean>        
        </constructor-arg>
        <constructor-arg>
            <bean class="org.eurekastreams.server.action.execution.profile.DeleteAvatarExecution">
                <constructor-arg ref="jpaGroupMapper"/>
                <constructor-arg ref="imageWriter"/>
                <constructor-arg ref="groupFinder"/>
            </bean>
        </constructor-arg>
        <constructor-arg value="false" />
        <constructor-arg ref="taskHandler" />
    </bean>    
    
    <bean id="saveGroupAvatar" class="org.eurekastreams.commons.actions.service.TaskHandlerServiceAction">
        <constructor-arg ref="noValidationStrategy" />
        <constructor-arg>
            <bean class="org.eurekastreams.server.action.authorization.CurrentUserGroupCoordinatorRecursivelyAuthorization">
                <constructor-arg>
                    <bean class="org.eurekastreams.server.action.request.transformer.EntityIdFromSaveImageRequestTransformer" >
                        <property name="returnValueAsString" value="true"/>
                    </bean>
                </constructor-arg>
                <constructor-arg ref="getAllPersonIdsWhoHaveGroupCoordinatorAccess"/>
            </bean>
        </constructor-arg>
        <constructor-arg>
            <bean class="org.eurekastreams.server.action.execution.profile.SaveAvatarExecution">
                <constructor-arg ref="jpaGroupMapper"/>
                <constructor-arg ref="resizeGroupAvatarExecution"/>
                <constructor-arg ref="imageWriter"/>
                <constructor-arg ref="groupFinder"/>                      
            </bean>
        </constructor-arg>
        <constructor-arg value="false" />
        <constructor-arg ref="taskHandler" />
    </bean>    
    
    <bean id="resizeOrgAvatar" class="org.eurekastreams.commons.actions.service.TaskHandlerServiceAction">
        <constructor-arg ref="noValidationStrategy" />
        <constructor-arg>
            <bean class="org.eurekastreams.server.action.authorization.CurrentUserOrgCoordinatorRecursivelyAuthorization">
                <constructor-arg>
                    <bean class="org.eurekastreams.server.action.request.transformer.EntityIdFromResizeAvatarRequestTransformer" >
                        <property name="returnValueAsString" value="true"/>
                    </bean>
                </constructor-arg>
                <constructor-arg ref="getRecursiveOrgCoordinators"/>
            </bean>
        </constructor-arg>
        <constructor-arg ref="resizeOrgAvatarExecution" />
        <constructor-arg value="false" />
        <constructor-arg ref="taskHandler" />
    </bean>       
        
    <bean id="deleteOrgAvatar" class="org.eurekastreams.commons.actions.service.TaskHandlerServiceAction">
        <constructor-arg ref="noValidationStrategy" />
         <constructor-arg>
            <bean class="org.eurekastreams.server.action.authorization.CurrentUserOrgCoordinatorRecursivelyAuthorization">
                <constructor-arg>
                    <bean class="org.eurekastreams.server.action.request.transformer.ToStringTransformer"/>
                </constructor-arg>
                <constructor-arg ref="getRecursiveOrgCoordinators"/>
            </bean>
        </constructor-arg>
        <constructor-arg>
            <bean class="org.eurekastreams.server.action.execution.profile.DeleteAvatarExecution">
                <constructor-arg ref="jpaOrganizationMapper"/>
                <constructor-arg ref="imageWriter"/>
                <constructor-arg ref="organizationFinder"/>
            </bean>
        </constructor-arg>
        <constructor-arg value="false" />
        <constructor-arg ref="taskHandler" />
    </bean>     
    
    <bean id="saveOrgAvatar" class="org.eurekastreams.commons.actions.service.TaskHandlerServiceAction">
        <constructor-arg ref="noValidationStrategy" />
        <constructor-arg>
            <bean class="org.eurekastreams.server.action.authorization.CurrentUserOrgCoordinatorRecursivelyAuthorization">
                <constructor-arg>
                    <bean class="org.eurekastreams.server.action.request.transformer.EntityIdFromSaveImageRequestTransformer" >
                        <property name="returnValueAsString" value="true"/>
                    </bean>
                </constructor-arg>
                <constructor-arg ref="getRecursiveOrgCoordinators"/>
            </bean>
        </constructor-arg>
        <constructor-arg>
            <bean class="org.eurekastreams.server.action.execution.profile.SaveAvatarExecution">
                <constructor-arg ref="jpaOrganizationMapper"/>
                <constructor-arg ref="resizeOrgAvatarExecution"/>
                <constructor-arg ref="imageWriter"/>
                <constructor-arg ref="organizationFinder"/>                     
            </bean>
        </constructor-arg>
        <constructor-arg value="false" />
        <constructor-arg ref="taskHandler" />
    </bean>    
  
    <bean id="deleteOrganizationBanner" class="org.eurekastreams.commons.actions.service.ServiceAction">
        <constructor-arg ref="noValidationStrategy" />
        <constructor-arg ref="noAuthorizationStrategy"/>
        <constructor-arg>
			<bean class="org.eurekastreams.server.action.execution.profile.DeleteBannerExecution">
				<constructor-arg ref="organizationBannerMapper" />
				<constructor-arg ref="organizationBannerCacheMapper" />
				<constructor-arg ref="imageWriter" />
                <constructor-arg>
                    <bean class="org.eurekastreams.server.action.execution.GetBannerIdByParentOrganizationStrategy">
                        <constructor-arg ref="getOrganizationsByIdsMapper" />
                        <constructor-arg ref="getParentOrgIdsRecursiveByOrgIdMapper" />
                        <constructor-arg ref="findByIdMapper" />
                        <constructor-arg value="Organization" />
                    </bean>
                </constructor-arg>
			</bean>
        </constructor-arg>
        <constructor-arg value="true" />
    </bean>     

    <bean id="deleteDomainGroupBanner" class="org.eurekastreams.commons.actions.service.ServiceAction">
        <constructor-arg ref="noValidationStrategy" />
        <constructor-arg ref="noAuthorizationStrategy"/>
        <constructor-arg>
			<bean class="org.eurekastreams.server.action.execution.profile.DeleteBannerExecution">
				<constructor-arg ref="domainGroupBannerMapper" />
				<constructor-arg ref="domainGroupBannerCacheMapper" />
				<constructor-arg ref="imageWriter" />
                <constructor-arg>
                    <bean class="org.eurekastreams.server.action.execution.GetBannerIdByParentOrganizationStrategy">
                        <constructor-arg ref="getOrganizationsByIdsMapper" />
                        <constructor-arg ref="getParentOrgIdsRecursiveByOrgIdMapper" />
                        <constructor-arg ref="findByIdMapper" />
                        <constructor-arg value="DomainGroup" />
                    </bean>
                </constructor-arg>
			</bean>        
        </constructor-arg>
        <constructor-arg value="true" />
    </bean>

    <bean id="getPerson" class="org.eurekastreams.commons.actions.service.ServiceAction">
        <constructor-arg ref="noValidationStrategy" />
        <constructor-arg ref="noAuthorizationStrategy"/>
        <constructor-arg>
            <bean class="org.eurekastreams.server.action.execution.GetPersonExecution">
                <constructor-arg ref="jpaPersonMapper" />
		        <constructor-arg ref="populatePeopleWithSkeletonRelatedOrgsCacheMapper" />
		        <constructor-arg ref="cssBuilderDecorator" />
		        <constructor-arg ref="populateOrgChildWithSkeletonParentOrgsCacheMapper"/>
		        <constructor-arg>
                    <bean class="org.eurekastreams.server.action.execution.GetBannerIdByParentOrganizationStrategy">
				        <constructor-arg ref="getOrganizationsByIdsMapper" />
				        <constructor-arg ref="getParentOrgIdsRecursiveByOrgIdMapper" />
                        <constructor-arg ref="findByIdMapper" />
                        <constructor-arg value="Person" />
                    </bean>
		        </constructor-arg>
            </bean>
        </constructor-arg>
        <constructor-arg value="true" />
    </bean>     
    
    <bean id="setPersonTheme" class="org.eurekastreams.commons.actions.service.ServiceAction">
		<!-- fields: "themeId" (uuid or url)  -->
		<constructor-arg>
			<bean class="org.eurekastreams.server.action.validation.gallery.ThemeIdValidation">
				<constructor-arg ref="jpaThemeMapper" />
				<constructor-arg ref="cssBuilderDecorator" />
			</bean>
		</constructor-arg>
        <constructor-arg ref="noAuthorizationStrategy"/>
		<constructor-arg>
			<bean class="org.eurekastreams.server.action.execution.gallery.SetPersonThemeExecution">
		    	<constructor-arg ref="jpaPersonMapper" />
				<constructor-arg ref="jpaThemeMapper" />
				<constructor-arg ref="cssBuilderDecorator" />
				<constructor-arg ref="deleteCacheKeys"/>
		    </bean>
		</constructor-arg>
		<constructor-arg value="false" />
	</bean>
    
    <!-- The decorator that builds CSS from XML -->
	<bean id="cssBuilderDecorator" scope="prototype"
		class="org.eurekastreams.server.service.actions.strategies.CSSBuilderDecorator">
		<constructor-arg>
			<null />
		</constructor-arg>
		<constructor-arg type="java.lang.String" value="themes/css.xslt" />
		<constructor-arg>
			<bean class="org.eurekastreams.server.service.actions.strategies.URLFetcher" />
		</constructor-arg>
		<constructor-arg>
			<bean class="javax.xml.transform.stream.StreamResult" />
		</constructor-arg>
		<constructor-arg ref="contextHolder" />
		<constructor-arg index="5" value="259200000" />
	</bean>   
    
    
    <!--  **************************** BEGIN Gallery Item Persisting ****************************   -->
    
    <!-- GALLERY ITEM VALIDATORS -->
    <bean id="themeValidator" class="org.eurekastreams.server.action.validation.gallery.UrlXmlValidator">
		<constructor-arg value="http://www.w3.org/2001/XMLSchema" />
		<constructor-arg value="/themes/theme.xsd" />
		<constructor-arg>
			<bean class="org.eurekastreams.server.service.actions.strategies.URLFetcher" />
		</constructor-arg>
		<constructor-arg ref="contextHolder" />
	</bean>
	<bean id="gadgetDefinitionValidator" class="org.eurekastreams.server.action.validation.gallery.UrlXmlValidator">
		<constructor-arg value="http://www.w3.org/2001/XMLSchema" />
		<constructor-arg value="/gadgets/openSocialGadget_0-9.xsd" />
		<constructor-arg>
			<bean class="org.eurekastreams.server.service.actions.strategies.URLFetcher" />
		</constructor-arg>
		<constructor-arg ref="contextHolder" />
	</bean>
    
	<!-- GALLERY ITEMPOPULATORS -->
	<bean id="themePopulator"
		class="org.eurekastreams.server.service.actions.strategies.galleryitem.ThemePopulator">
		<constructor-arg>
			<ref bean="documentCreator" />
		</constructor-arg>
	</bean>
		
	<bean id="addTheme" class="org.eurekastreams.commons.actions.service.ServiceAction">
		<!-- fields: param map - "url", "category"  -->
		<constructor-arg ref="themeValidator" />
		<constructor-arg ref="galleryAuthorizer"/>
		<constructor-arg>
			<bean class="org.eurekastreams.server.action.execution.gallery.PersistGalleryItemExecution">
		    	<constructor-arg>
		    		<!-- Theme Creator -->
		    		<bean class="org.eurekastreams.server.service.actions.strategies.galleryitem.GalleryItemCreator">
						<constructor-arg ref="jpaThemeMapper" />
						<constructor-arg>
							<bean class="org.eurekastreams.server.service.actions.strategies.galleryitem.ThemeFactory" />
						</constructor-arg>
						<constructor-arg ref="jpaPersonMapper" />
					</bean>
		    	</constructor-arg>
				<constructor-arg ref="themePopulator" />
				<constructor-arg>
					<!-- Theme Inserter -->
					<bean class="org.eurekastreams.server.service.actions.strategies.galleryitem.GalleryItemInserter">
						<constructor-arg ref="jpaThemeMapper" />
					</bean>
				</constructor-arg>
				<constructor-arg ref="jpaGalleryItemCategoryMapper" />
				<constructor-arg value="THEME" />
		    </bean>
		</constructor-arg>
		<constructor-arg value="false" />
	</bean>
	
    <bean id="editTheme" class="org.eurekastreams.commons.actions.service.ServiceAction">
		<!-- fields: param map - "url", "category"  -->
		<constructor-arg ref="themeValidator" />
		<constructor-arg ref="galleryAuthorizer"/>
		<constructor-arg>
			<bean class="org.eurekastreams.server.action.execution.gallery.PersistGalleryItemExecution">
		    	<constructor-arg>
		    		<!-- Theme Finder -->
		    		<bean class="org.eurekastreams.server.service.actions.strategies.galleryitem.GalleryItemFinder">
						<constructor-arg ref="jpaThemeMapper" />
					</bean>
		    	</constructor-arg>
				<constructor-arg ref="themePopulator" />
				<constructor-arg>
					<!-- Theme Updater -->
					<bean class="org.eurekastreams.server.service.actions.strategies.galleryitem.GalleryItemUpdater">
						<constructor-arg ref="jpaThemeMapper" />
					</bean>
				</constructor-arg>
				<constructor-arg ref="jpaGalleryItemCategoryMapper" />
				<constructor-arg value="THEME" />
		    </bean>
		</constructor-arg>
		<constructor-arg value="false" />
	</bean> 
	
	<bean id="addGadgetDefinition" class="org.eurekastreams.commons.actions.service.ServiceAction">
		<!-- fields: param map - "url", "category"  -->
		<constructor-arg ref="gadgetDefinitionValidator" />
		<constructor-arg ref="galleryAuthorizer"/>
		<constructor-arg>
			<bean class="org.eurekastreams.server.action.execution.gallery.PersistGalleryItemExecution">
		    	<constructor-arg>
		    		<!-- Gadget Definition Creator -->
		    		<bean class="org.eurekastreams.server.service.actions.strategies.galleryitem.GalleryItemCreator">
						<constructor-arg>
							<ref bean="jpaGadgetDefinitionMapper" />
						</constructor-arg>
						<constructor-arg>
							<bean
								class="org.eurekastreams.server.service.actions.strategies.galleryitem.GadgetDefinitionFactory" />
						</constructor-arg>
						<constructor-arg>
							<ref bean="jpaPersonMapper" />
						</constructor-arg>
					</bean>
		    	</constructor-arg>
				<constructor-arg ref="gadgetDefinitionPopulator"/>
				<constructor-arg>
					<!-- Gadget Definition Inserter -->
					<bean class="org.eurekastreams.server.service.actions.strategies.galleryitem.GalleryItemInserter">
						<constructor-arg ref="jpaGadgetDefinitionMapper" />
					</bean>
				</constructor-arg>
				<constructor-arg ref="jpaGalleryItemCategoryMapper" />
				<constructor-arg value="GADGET" />
		    </bean>
		</constructor-arg>
		<constructor-arg value="false" />
	</bean> 
	 
      
	<bean id="addPluginDefinition" class="org.eurekastreams.commons.actions.service.ServiceAction">
        <!-- fields: param map - "url", "category"  -->
        <constructor-arg ref="gadgetDefinitionValidator" />
        <constructor-arg ref="galleryAuthorizer"/>
        <constructor-arg>
            <bean class="org.eurekastreams.server.action.execution.gallery.PersistGalleryItemExecution">
                <constructor-arg>
                    <!-- Gadget Definition Creator -->
     				<bean id="pluginDefinitionCreator"
        			class="org.eurekastreams.server.service.actions.strategies.galleryitem.GalleryItemCreator">
       					<constructor-arg>
         					<ref bean="jpaPluginDefinitionMapper" />
       					</constructor-arg>
        				<constructor-arg>
         				<bean
			                class="org.eurekastreams.server.service.actions.strategies.galleryitem.PluginDefinitionFactory" />
				        </constructor-arg>
				        <constructor-arg>
				            <ref bean="jpaPersonMapper" />
				        </constructor-arg>
			    	</bean>
		        </constructor-arg>
                <constructor-arg ref="pluginDefinitionPopulator"/>
                <constructor-arg>
                    <!-- Gadget Definition Inserter -->
                    <bean class="org.eurekastreams.server.service.actions.strategies.galleryitem.GalleryItemInserter">
                        <constructor-arg ref="jpaPluginDefinitionMapper" />
                    </bean>
                </constructor-arg>
                <constructor-arg ref="jpaGalleryItemCategoryMapper" />
                <constructor-arg value="PLUGIN" />
            </bean>
        </constructor-arg>
        <constructor-arg value="false" />
    </bean> 
    
    <bean id="editGadgetDefinition" class="org.eurekastreams.commons.actions.service.ServiceAction">
		<!-- fields: param map - "url", "category"  -->
		<constructor-arg ref="gadgetDefinitionValidator" />
		<constructor-arg ref="galleryAuthorizer"/>
		<constructor-arg>
			<bean class="org.eurekastreams.server.action.execution.gallery.PersistGalleryItemExecution">
		    	<constructor-arg>
		    		<bean class="org.eurekastreams.server.service.actions.strategies.galleryitem.GalleryItemFinder">
						<constructor-arg ref="jpaGadgetDefinitionMapper" />
					</bean>
		    	</constructor-arg>
				<constructor-arg ref="gadgetDefinitionPopulator"/>
				<constructor-arg>
					<!-- Gadget Definition Updater -->
					<bean class="org.eurekastreams.server.service.actions.strategies.galleryitem.GalleryItemUpdater">
						<constructor-arg ref="jpaGadgetDefinitionMapper" />
					</bean>
				</constructor-arg>
				<constructor-arg ref="jpaGalleryItemCategoryMapper" />
				<constructor-arg value="GADGET" />
		    </bean>
		</constructor-arg>
		<constructor-arg value="false" />
	</bean> 
	
	<bean id="editPluginDefinition" class="org.eurekastreams.commons.actions.service.ServiceAction">
        <!-- fields: param map - "url", "category"  -->
        <constructor-arg ref="gadgetDefinitionValidator" />
        <constructor-arg ref="galleryAuthorizer"/>
        <constructor-arg>
            <bean class="org.eurekastreams.server.action.execution.gallery.PersistGalleryItemExecution">
                <constructor-arg>
                    <bean class="org.eurekastreams.server.service.actions.strategies.galleryitem.GalleryItemFinder">
                        <constructor-arg ref="jpaPluginDefinitionMapper" />
                    </bean>
                </constructor-arg>
                <constructor-arg ref="pluginDefinitionPopulator"/>
                <constructor-arg>
                    <!-- Gadget Definition Updater -->
                    <bean class="org.eurekastreams.server.service.actions.strategies.galleryitem.GalleryItemUpdater">
                        <constructor-arg ref="jpaPluginDefinitionMapper" />
                    </bean>
                </constructor-arg>
                <constructor-arg ref="jpaGalleryItemCategoryMapper" />
                <constructor-arg value="PLUGIN" />
            </bean>
        </constructor-arg>
        <constructor-arg value="false" />
    </bean> 
    
    <!--  **************************** END Gallery Item Persisting ****************************   -->

    <bean id="updateOrganizationBanner" class="org.eurekastreams.commons.actions.service.ServiceAction">
        <constructor-arg ref="noValidationStrategy" />
        <constructor-arg ref="noAuthorizationStrategy"/>
        <constructor-arg>
            <bean class="org.eurekastreams.server.action.execution.profile.UpdateBannerExecution">
                <constructor-arg ref="organizationBannerMapper" />
                <constructor-arg ref="organizationBannerCacheMapper" />
                <constructor-arg ref="imageWriter" />
            </bean>
        </constructor-arg>
        <constructor-arg value="false" />
    </bean>
    
    <bean id="updateDomainGroupBanner" class="org.eurekastreams.commons.actions.service.ServiceAction">
        <constructor-arg ref="noValidationStrategy" />
        <constructor-arg ref="noAuthorizationStrategy"/>
        <constructor-arg>
            <bean class="org.eurekastreams.server.action.execution.profile.UpdateBannerExecution">
                <constructor-arg ref="domainGroupBannerMapper" />
                <constructor-arg ref="domainGroupBannerCacheMapper" />
                <constructor-arg ref="imageWriter" />
            </bean>
        </constructor-arg>
        <constructor-arg value="false" />
    </bean>
    
    <bean id="contextHolder" class="org.eurekastreams.server.service.actions.strategies.ContextHolder" />

    <bean id="documentCreator" class="org.eurekastreams.server.service.actions.strategies.DocumentCreator">
        <constructor-arg>
            <bean class="org.eurekastreams.server.service.actions.strategies.URLFetcher" />
        </constructor-arg>
    </bean>

    <bean id="personFinder" class="org.eurekastreams.server.service.actions.strategies.PersonFinder">
        <constructor-arg>
            <ref bean="jpaPersonMapper" />
        </constructor-arg>
    </bean>

    <bean id="groupFinder" class="org.eurekastreams.server.service.actions.strategies.GroupFinder">
        <constructor-arg>
            <ref bean="jpaGroupMapper" />
        </constructor-arg>
    </bean>

    <bean id="organizationFinder" class="org.eurekastreams.server.service.actions.strategies.OrganizationFinder">
        <constructor-arg>
            <ref bean="jpaOrganizationMapper" />
        </constructor-arg>
    </bean>

    <bean id="domainGroupBannerMapper" class="org.eurekastreams.server.persistence.mappers.DomainGroupBannerMapper"/>

    <bean id="organizationBannerMapper" class="org.eurekastreams.server.persistence.mappers.OrganizationBannerMapper"/>
    
    <bean id="organizationBannerCacheMapper" class="org.eurekastreams.server.persistence.mappers.cache.UpdateCachedOrgBannerIdMapper">
        <constructor-arg ref="getOrganizationsByIdsMapper"/>
        <property name="cache" ref="memcachedCache" />
    </bean>
    
    <!-- This class is just a stub for the time being to fulfill the Update and Delete Execution strat requirements for the mapper. -->
    <bean id="domainGroupBannerCacheMapper" class="org.eurekastreams.server.persistence.mappers.cache.UpdateCachedDomainGroupBannerIdMapper"/>    
       
</beans>