<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans.xsd
      http://www.springframework.org/schema/context
      http://www.springframework.org/schema/context/spring-context-2.5.xsd">

    <context:property-placeholder location="classpath:conf/eurekastreams-server.properties"/>

    <import resource="classpath:/org/eurekastreams/server/conf/applicationContext-model.xml" />
    <import resource="classpath:/org/eurekastreams/server/conf/applicationContext-model-indexingNode.xml" />    
    <import resource="classpath:/org/eurekastreams/server/conf/applicationContext-memcached.xml" />
    <import resource="classpath:/org/eurekastreams/server/conf/applicationContext-framework-ldap.xml" />
    <import resource="classpath:/org/eurekastreams/server/conf/applicationContext-framework-actions.xml" />
    <import resource="classpath:/org/eurekastreams/server/conf/applicationContext-mappers.xml" />
    <import resource="classpath:/org/eurekastreams/server/conf/applicationContext-jms.xml"/>
    <import resource="classpath:/org/eurekastreams/server/conf/applicationContext-cache-initialization.xml" />

	<!-- Extension point for other projects to tie in. -->
	<import resource="classpath*:/conf/external/common/*.xml" />
	<import resource="classpath*:/conf/external/main/*.xml" />
	
	<!-- alias used on all actions that submit an async action -->
	<!--
		can be of value: 
			nullTaskHandler // does not execute the action, only logs 
			inlineTaskHandler // executes the task inline (non-async)
			queueTaskHandler // submits the task to the Queue 
		// must have the applicationContext-jms.xml file active
	-->
	<alias alias="taskHandler" name="queueTaskHandler" />
    
    <!-- Initialize Class and Field Bridges with singleton setters -->
    <import resource="classpath:/org/eurekastreams/server/conf/applicationContext-search-bridges-initialization.xml" />    

    <import resource="classpath:/org/eurekastreams/server/conf/applicationContext-search.xml" />
    <import resource="classpath:/org/eurekastreams/server/conf/applicationContext-search-directorybrowsing.xml" />
    <import resource="classpath:/org/eurekastreams/server/conf/applicationContext-search-directorysearch.xml" />    

    <import resource="applicationContext-taskqueuebeanregistration.xml" />    
    
    <!-- The Quartz scheduled jobs -->
    <import resource="applicationContext-jobs.xml" />
    
    <!-- AOP support  -->
    <import resource="applicationContext-aop.xml" />    
    
</beans>
