<html>
<body>
<p>
The $(aux.name) group is pending approval in the $(dest.name) organization.
</p>
<p>
To see the pending group request follow this 
<a href="$(eureka.web.baseurl)#$(dest.page)/$(dest.uniqueid)?tab=Admin&amp;adminFilter=Pending Groups">link</a> 
to the organization Admin tab and click on the Pending Groups view.
</p>
<p>
Thank You,<br/>
Eureka Streams
</p>
<hr/>
<p>
To find out more information, visit <a href="$(eureka.infosite.url)">$(eureka.infosite.text)</a>.
Emails you receive from Eureka Streams can be managed from your notification settings page <a href="$(eureka.web.baseurl)#settings?tab=Notifications">here</a>.
</p>
</body>
</html>
