<html>
<body>
<p>
$(actor.name) posted a $(activity.type) to your stream.
</p>
<p>"$(activity.content)"</p>
<p>
To see the post follow this <a href="$(eureka.web.baseurl)#$(dest.page)/$(dest.uniqueid)?activityId=$(activity.id)">link</a>.
</p>
<p>
Thank You,<br/>
Eureka Streams
</p>
<hr/>
<p>
To find out more information, visit <a href="$(eureka.infosite.url)">$(eureka.infosite.text)</a>.
Emails you receive from Eureka Streams can be managed from your notification settings page <a href="$(eureka.web.baseurl)#settings?tab=Notifications">here</a>.
</p>
</body>
</html>
