<html>
<body>
<p>
$actor.displayName requested to follow the $group.displayName private group.  As a coordinator, 
you have the ability to approve or deny this person access.
</p>
<p>
If you would like to grant this user access to your group, please visit the group profile Admin tab.
We also recommend that you please send the user an email stating your decision regarding their request.
</p>
<p>
To see the membership request follow this <a href="#appUrl($uiUrlBuilder.relativeUrlForGroupAccessRequest($group.uniqueId))">link</a>.
</p>
#parse('Footer.html')
</body>
</html>
