<html>
<body>
<p>
Your request to create the $(aux.name) group has been approved.  Here are a few things to help you get started...
<ul>
<li>
Fill out your group profile
<p>To edit your group profile click the configure button on the right side of the profile page.  Giving the group a concise description of what the group is and how it is to be used will both help make it discoverable and inform members how to use the group.  Use the Overview section to add a longer description and to add links to related streams and resources.</p>
</li>

<li>
Add some sample posts
<p>Before inviting people to the stream, add some posts of the nature you expect to see.  For a project team group this will likely be status updates, lessons learned, and links to useful resources.  For a discussion group you will want to be mindful that your objective is not only to inform but to engage employees in conversation.  Whenever possible, post open-ended questions around topics that you think will prompt people to respond.</p>
</li>

<li>
Email your target audience
<p>Sending an email directly to your target audience inviting them to participate in the stream and to fill out their profiles is an effective way to get a group on board.  Include in the email the specific uses for the stream.</p>
</li>

</ul>
</p>
<p>
Here's the link to your group. Time to get started!<br />
<a href="$(eureka.web.baseurl)#$(aux.page)/$(aux.uniqueid)">$(aux.name)</a>
</p>
<p>
Thank You,<br/>
Eureka Streams
</p>
<hr/>
<p>
To find out more information, visit <a href="$(eureka.infosite.url)">$(eureka.infosite.text)</a>.  
Post questions to <a href="$(eureka.web.baseurl)#groups/$(settings.support.uniqueid)">$(settings.support.name)</a>.
</p>
</body>
</html>
