
    div.banner-container
    {
        background: 
            #0b4268 
            url(/style/images/ISGS_Banner.png)
            repeat;
            
                border-bottom: 1px solid #676767;       
    }

        .themeable .site-labeling
        {
            color: white;
        }
        
        .themeable .site-labeling a:link, .themeable .site-labeling a:visited, .themeable .site-labeling a:hover, .themeable .site-labeling a:active
        {
            color: white;
            text-decoration: underline;
        }

    .themeable div.tab, .themeable div.new-tab-button
    { 
          background-color: #093654;
          border-color:  #1a95c4;         
    }

        .themeable .configure-tab
    { 
          background-color: #093654;
          border-color: #ffffff;
        }

        .themeable .configure-tab a
        {
          color: #ffffff;
        }

    .themeable div.tab-container div.active
    {
        background-color: #f0f0f0;
    }

    .themeable div.tab-container div.active
    {
        border-top: 1px solid #676767; 
        border-left: 1px solid #676767; 
        border-right: 1px solid #676767; 
        border-bottom:1px solid #f0f0f0;          
    }
    
    .themeable div.tab-container div.active div div.gwt-Label
    {
        color: #333333; 
    }

    .themeable div.layout-container
    {
        border-color: #676767;
    }
    .themeable div.tab div div.gwt-Label, .themeable div.new-tab-button a
    {
          color: #ffffff;
    }
    
    .themeable .gadget-zone
    { 
          border: 1px solid #9a9a9a ! important;
    }

    .themeable .gadget-zone-chrome-title-bar
    { 
          background-color: #303030;
    }
    
    .themeable .gadget-zone-chrome-title-bar-title-button
    { 
          color: #ffffff;
    }

    .themeable .main-contents
    {
        background: 
            #f0f0f0 
            url()
            no-repeat
             0 125px;
    }

    