<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans.xsd
      http://www.springframework.org/schema/tx
      http://www.springframework.org/schema/tx/spring-tx.xsd
      http://www.springframework.org/schema/context
      http://www.springframework.org/schema/context/spring-context-2.5.xsd
      http://www.springframework.org/schema/util
      http://www.springframework.org/schema/util/spring-util-2.5.xsd">

	<import resource="classpath:/org/eurekastreams/server/conf/applicationContext-propertyreplacer.xml" />
    
	<!-- Include common resources -->
	<import resource="classpath:/org/eurekastreams/server/conf/applicationContext-settings.xml" />
	<import resource="classpath:/org/eurekastreams/server/conf/applicationContext-model-${build.system.nodetype}.xml" />
	<import resource="classpath:/org/eurekastreams/server/conf/applicationContext-model.xml" />
	<import resource="classpath:/org/eurekastreams/server/conf/applicationContext-mappers.xml" />
	<import resource="classpath:/org/eurekastreams/server/conf/applicationContext-framework-actions.xml" />	
	<import resource="classpath:/org/eurekastreams/server/conf/applicationContext-framework-ldap.xml" />
	<import resource="classpath:/org/eurekastreams/server/conf/applicationContext-services.xml" />
	
	<!-- Extension point for other projects to tie in. -->
	<import resource="classpath*:/conf/external/common/*.xml" />
	<import resource="classpath*:/conf/external/container/*.xml" />
	
	<!-- alias used on all actions that submit an async action -->
	<!--
		can be of value: 
			nullTaskHandler // does not execute the action, only logs 
			executingTaskHandler // executes the task inline (non-async)
			queueTaskHandler // submits the task to the Queue 
		// must have the applicationContext-jms.xml file active
	-->
	<alias alias="taskHandler" name="executingTaskHandler" />
	<alias alias="taskHandler-nonui" name="executingTaskHandler" />
	
	<import resource="classpath:/org/eurekastreams/server/conf/applicationContext-search.xml" />
	<import resource="classpath:/org/eurekastreams/server/conf/applicationContext-search-directorysearch.xml" />
	
    <!-- memcached client bean -->
    <import resource="classpath:/org/eurekastreams/server/conf/applicationContext-memcached.xml" />          	
	
    <!-- Setup the bean, queue, and connection to the JMS queue implementation  -->
    <import resource="classpath:/org/eurekastreams/server/conf/applicationContext-jms-pooled.xml" />

	<!--  List of strategies for configuring Guice.  Additional strategies may be added to this list in other projects. -->
	<util:list id="springGuiceConfigurators" list-class="java.util.ArrayList">
		<bean class="org.eurekastreams.server.service.opensocial.core.config.SocialAPIGuiceConfigurator" />
	</util:list>

</beans>
