<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
      http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
      http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.5.xsd">

	<!-- Content template for header site label row in UI -->
	<bean id="headerContentTemplate" class="java.lang.String">
		<constructor-arg>
			<value>
				<![CDATA[
					<div class="site-label">%SITELABEL%</div>
			    ]]>
			</value>
		</constructor-arg>
	</bean>
	<!-- Content template for footer site label row in UI -->
	<bean id="footerContentTemplate" class="java.lang.String">
		<constructor-arg>
			<value>
				<![CDATA[
					<div class="site-label">%SITELABEL%</div>
			    ]]>
		    </value>
		</constructor-arg>
	</bean>
	<!-- Content template for banner area (on start page) -->
	<bean id="bannerContentTemplate" class="java.lang.String">
		<constructor-arg value="" />
	</bean>
	   <util:map id="notifiersByIdMap">
        <entry key="IN_APP" value-ref="inAppNotifier" />
        <entry key="EMAIL" value-ref="emailNotifier" />
    </util:map>
        
    <!-- names of notifiers which can be disabled, by ID, in order by columns on display -->
    <util:map id="notifierIdToDisplayMap" map-class="java.util.LinkedHashMap">
        <entry key="IN_APP" value="In-App" />
        <entry key="EMAIL" value="Email" />
    </util:map>
    
    <!-- list of endpoints for rest notifier -->
    <util:map id="restNotifierEndpointTemplates">
    </util:map>
    
    <!-- list of json responses to the rest service -->
    <util:map id="restNotifierMessageTemplates">
    </util:map>
</beans>
 
