body {
	color: #303030;
	font: 13px/1.5 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif;
	padding: 0;
	margin: 20px;
	width: 960px;
}
img { 
	-ms-interpolation-mode:bicubic; 
}

/* header styles */
#header {
	background: url(../images/stream.jpg) no-repeat 150px 0px;
	height: 99px;
	width: 940px;
	margin-left: auto;
	margin-right: auto;
}
#header h1 {
	background: url(../images/logo.png) no-repeat;
	height: 56px;
	position: relative;
	top: 15px;
	text-indent: -9999px;
	width: 177px;
}

/* docheader styles */
#docheader {
	background: url(../images/breadcrumb_background.png) repeat-x;	
	color: #666666;
	font-size: 20px;
	height: 85px;
	line-height: 85px;
	padding-left: 20px;
	text-transform: uppercase;
	width: 940px;
	margin-left:auto;
	margin-right:auto;
}
#docheader em {
	color: white;
	font-size: 30px;
	font-style: normal;
	font-weight: bold;
}
#docheader img {
	float: right;
	margin-right: 20px;
}

/* version header - immediately follows docheader */
#docheader + p {
	background: url(../images/yellow_bg.png) repeat-x;
	height: 45px;
	position: relative;
	width: 940px;
	margin-top: 0px;
	color: white;
	padding-left: 20px;
}

#docheader + p strong {
	color: black;
	display: block;
}

#docheader + p a {
	text-decoration: none;
}

body h1.title {
	font-size: 20px;
	line-height: 40px;
	width: 700px;
	margin-bottom: 0px;
}

/* next page link section*/
h1.title + p {
	background-color:#EEEEEE;
	border-top:1px solid #CCCCCC;
	margin-top:0;
	width:700px;
}

#nextlink{
	float:right;
}

#nextlink a, #prevlink a{
	text-decoration: none;
	color: black;
}


body h2 {
	font-size: 18px;
	line-height: 24px;
}
body h3 {
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 10px;
}
body a {
	color: #0066FF;
	text-decoration: none;
} 
#pagecontents + ul, #docheader + p + h2, #docheader + p + p + h2 {
	margin-right: 10px;
	float:right;
	clear:both;
	width: 220px;
	overflow:hidden;
	list-style-type: square;
}
#docheader + p + h2, #docheader + p + p + h2 {
	font-size: 16px;
	line-height: 30px;
	margin-bottom: 0px;
}

#docheader + p + p a {
	text-decoration: underline;
	color:#303030;
}

#docheader + ul > li, #docheader + p + ul > li {
	padding-right:100px;
	float: left;
	list-style-type: none;
}
#docheader + ul > li > a, #docheader + p + ul > li > a {
	font-size:1.5em;
	font-weight:bold;
}

#pagecontents + ul {
	margin: 0px;
	border: solid 1px #DEDEDE;
	padding-left: 0px;
	padding-top: 5px; 
}
#pagecontents + ul > li {
	font-size: 12px;
	margin-left: 25px;
}

.last-child {
	background-color:white;
	display:inline-block;
	left:-20px;
	margin-top:20px;
	position:relative;
}

.last-child span{
	display:inline-block;
	color: #0066FF;
}

/* footer styles */
.clear {
	clear: both;
}
#eureka_e {
	left: -20px;
	position: relative;	
	z-index:10;
}
#footer {
	border-top: 1px solid #868686;
	clear: both;
	width: 100%;
	z-index:1;
	position: relative;
	top: -60px;
}
#footer > div {
	background: url(../images/footer_background.png) repeat-x 0px 0px;	
	border-top: 1px solid #DEDEDE;
	height: 100px;
}
#footer > div > div {
	font-size: 12px;	
	margin: 60px auto 0px auto;
	width: 720px;
	position: relative;
	top: -50px;
}
#footer span {
	color: #CCC;
	display: block;
}
#footer a {
	color: #666;
	margin-right: 10px;
}