## Macros must be written with no whitespace, since contrary to their documentation Velocity does NOT gobble it up.
## The comment marker after the content prevents the newline from being included in the content
## See the post and first comment on http://www.blueskyonmars.com/2003/10/29/velocity-whitespace-handling-is-not-as-written
##
## See velocity.properties for related settings.
##
## The use of EscapeHtmlReference (in EmailNotifier) causes inserted references to be HTML-escaped, except for those
## excluded by the eventhandler.escape.html.match setting (in velocity.properties).  (Currently calls to html and
## resolveMarkdownForHtml are excluded).


#macro( prop $name )
$properties.get($name)##
#end

#macro( activityType $activity )
#if ($activity.BaseObjectType == 'NOTE')
message##
#elseif ($activity.BaseObjectType == 'BOOKMARK')
link##
#else
$activity.BaseObjectType##
#end
#end

#macro( activityUrl $stream $activity )
#appUrl($uiUrlBuilder.relativeUrlForActivity(${activity.id}))##
#end

#macro( profileUrl $whom )
#appUrl($uiUrlBuilder.relativeUrlForEntity($whom))##
#end


#macro( streamDescription $stream $recipient )
#if ($stream.EntityType == 'PERSON')
#if ($recipient && $stream.entityId == $recipient.id)
your##
#else
$stream.displayName's##
#end
#else
the ${stream.displayName}##
#end
#end

#macro( siteLabel_subject )
#if ($settings.siteLabel && $settings.siteLabel != '')
 - ${settings.siteLabel}##
#end
#end

#macro( siteLabel_txt )
#if ($settings.siteLabel != '')
$settings.siteLabel

#end
#end

#macro( siteLabel_html )
#if ($settings.siteLabel != '')
<p style="text-align: center">$settings.siteLabel</p>
#end
#end

#macro( activityBody_txt $activity )
${helper.resolveMarkdownForText($helper.cleanWhitespace($helper.resolveActivityBody($activity,$context)))}##
#end

#macro( activityBody_html $activity )
${helper.resolveMarkdownForHtml($helper.cleanWhitespace($helper.resolveActivityBody($activity,$context))).replaceAll('(\r\n|\r|\n)','<br/>')}##
#end

#macro( activityContent_txt $activity )
#if ($activity.BaseObjectType == 'BOOKMARK')
" #activityBody_txt($activity)

$activity.baseObjectProperties.targetTitle - $activity.baseObjectProperties.targetUrl "
#else
" #activityBody_txt($activity) "
#end
#end

#macro( activityContent_html $activity )
#if ($activity.BaseObjectType == 'BOOKMARK')
<p>" #activityBody_html($activity)<br/><br/>
<a href="$activity.baseObjectProperties.targetUrl">$activity.baseObjectProperties.targetTitle</a> "</p>
#else
<p>" #activityBody_html($activity) "</p>
#end
#end

#macro( commentContent_html $comment )
<p>" ${esctool.html($helper.cleanWhitespace($comment.body)).replaceAll('(\r\n|\r|\n)','<br/>')} "</p>
#end

#macro( commentContent_txt $comment )
" $helper.cleanWhitespace($comment.body) "
#end


#macro( replyNotice_txt )
##
#if ($hasReplyAddress)
#end
#end

#macro( replyNotice_html )
#if ($hasReplyAddress)
#end
#end

## The following macro is used after activityUrl and profileUrl macros where the link is to appear on a line by itself.
## Without it, those macros cause the following newline to be discarded and pull the next line up following the link.
## (Those macros attempt to suppress the newline contained within themselves, but it also suppresses the newline in the
## files that invoke them too.) 
#macro( nl )

#end

## Makes a relative (#fragment) URL into a full absolute URL.
## eureka.web.baseurlpath needs to end in a / since some clients require the trailing slash.
#macro( appUrl $fragment )
#prop('eureka.web.baseurlpath')$fragment##
#end
