## Macros must be written with no whitespace, since contrary to their documentation Velocity does NOT gobble it up.
## The comment marker after the content prevents the newline from being included in the content
## See the post and first comment on http://www.blueskyonmars.com/2003/10/29/velocity-whitespace-handling-is-not-as-written

#macro( prop $name )
$properties.getProperty($name)##
#end

#macro( activityType $activity )
#if ($activity.BaseObjectType == 'NOTE')
message##
#elseif ($activity.BaseObjectType == 'BOOKMARK')
link##
#else
$activity.BaseObjectType##
#end
#end

#macro( activityUrl $stream $activity )
#prop('eureka.web.baseurl')#activity/${activity.id}##
#end

#macro( profileUrl $whom )
#prop('eureka.web.baseurl')#activity/#streamPage($whom)/${whom.uniqueId}##
#end


#macro( streamPage $stream )
#if ($stream.EntityType == 'PERSON')
person##
#elseif ($stream.EntityType == 'GROUP')
group##
#else
UNKNOWN##
#end
#end


#macro( streamDescription $stream $recipient )
#if ($stream.EntityType == 'PERSON')
#if ($recipient && $stream.entityId == $recipient.id)
your##
#else
$stream.displayName's##
#end
#else
the $stream.displayName##
#end
#end


#macro( siteLabel_txt )
#if ($settings.siteLabel != '')
$settings.siteLabel

#end
#end

#macro( siteLabel_html )
#if ($settings.siteLabel != '')
<p style="text-align: center">$settings.siteLabel</p>
#end
#end

#macro( activityBody $activity )
##${helper.substituteEurekaPlaceholders($activity.getBaseObjectProperties('content'),$context)}##
${helper.resolveActivityBody($activity,$context)}##
#end

#macro( activityContent_txt $activity )
#if ($activity.BaseObjectType == 'BOOKMARK')
"#activityBody($activity)

$activity.baseObjectProperties.targetTitle - $activity.baseObjectProperties.targetUrl"
#else
"#activityBody($activity)"
#end
#end

#macro( activityContent_html $activity )
#if ($activity.BaseObjectType == 'BOOKMARK')
<p>"#activityBody($activity)<br/><br/>
<a href="$activity.baseObjectProperties.targetUrl">$activity.baseObjectProperties.targetTitle</a>"</p>
#else
<p>"#activityBody($activity)"</p>
#end
#end
